.card {
  max-width: 300px !important;
}

.editButton {
  position: absolute;
  right: 0;
  top: 0;
  border: none !important;
  width: max-content !important;
  
}

Button {
  border: none !important;
}

.remove {
  border: none !important;
  max-width: max-content;
}

.card_style {
  background-color: black !important;
  color: bisque !important;
}
