.card {
  max-width: 300px !important;
}

.editButton {
  position: absolute;
  max-width: 60px;
  right: 0;
  top: 0;
  border: none !important;
}

Button {
  /* max-width: max-content; */
  border: none !important;
}
.remove{
  border: none !important;
  max-width: max-content;
}

.card_style{
  background-color: black !important;
  color: bisque !important;
}